<% issue_assignee_candidates = issue.assignee_candidates.map { |u| { :label => u.login, :id => u.id } }.to_json %>

<%= gts_form_for([project, issue]) do |f| %>
  <div class="row-fluid">
    <div class="span8">
      <%= f.input :title, :placeholder => 'Title', :label => false, :input_html => { :class => 'input-expanded' } %>
      <%= f.input :description, :placeholder => 'Description', :label => false %>
    </div>
    <div class="span4">
      <div class="well gts-issue-sidebar-fields">
        <%= f.input :state, :as => :select, :collection => %w(new open resolved invalid), :default => 'new', :input_html => { :class => 'input-small' } %>
        <hr/>
        <%= content_tag(:div, :class => 'ui-front issue-assignee-widget', :data => { 'gts-env-issue-assignee-candidates' => issue_assignee_candidates }) do %>
          <%= f.label 'Assigned to' %>
          <%= f.input_field :assignee_candidate, :as => :string, :name => 'assignee', :value => nil, :placeholder => 'Type username...',
            :class => 'input-small gts-issue-assignee-candidate' %>
          <a href="#" class="btn" data-behavior="assign-user">Assign</a>
          <ul class="issue-assignees">
            <% issue.assignees.each do |user| %>
              <li>
                <button class="btn">
                  <i class="icon-remove"></i>
                  <%= user.login %>
                </button>
                <input type="hidden" name="assignee_ids[]" value="<%= user.id %>"/>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit_button %>
  <% end %>
<% end %>
