<%= gts_form_for([project, issue]) do |f| %>
  <div class="row-fluid">
    <div class="span8">
      <%= f.input :title, :placeholder => 'Title', :label => false, :input_html => { :class => 'input-expanded' } %>
      <%= f.input :description, :placeholder => 'Description', :label => false %>
    </div>
    <div class="span4">
      <div class="well gts-issue-sidebar-fields">
        <%= f.input :state, :as => :select, :collection => %w(new open resolved invalid), :default => 'new', :input_html => { :class => 'input-small' } %>
        <hr/>
        <%= render 'issues/issues/form/assignee_widget', :issue => issue, :f => f %>
        <hr/>
        <%= render 'issues/issues/form/label_widget', :issue => issue, :f => f %>
      </div>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.submit_button %>
  <% end %>
<% end %>
