<tr>
  <td>
    <%= issue.issue_id %>
  </td>
  <td>
    <%= content_tag :span, issue.state, :class => 'label' %>
  </td>
  <td class="gts-pjax">
    <%= link_to issue.title, project_issue_path(issue.project, :issue_id => issue.issue_id) %>
  </td>
  <td>
    <%= issue.user.fullname || issue.user.login %>
  </td>
  <td>
    <%= time_ago(issue.created_at) %>
  </td>
  <td>
    <% if can_edit?(issue) %>
      <%= link_to 'Edit', edit_project_issue_path(issue.project, :issue_id => issue.issue_id),
        :class => 'btn' %>
      <%= link_to 'Delete', project_issue_path(issue.project, :issue_id => issue.issue_id),
        :class => 'btn btn-danger' %>
    <% end %>
  </td>
</tr>
