<tr>
  <td>
    <%= check_box_tag "issue-#{issue.id}" %>
  </td>
  <td>
    <%= issue.issue_id %>
  </td>
  <td class="gts-pjax">
    <%= link_to issue.title, project_issue_path(issue.project, issue) %>
  </td>
  <td>
    <%= issue.user.fullname || issue.user.login %>
  </td>
  <td>
    <%= time_ago(issue.created_at) %>
  </td>
</tr>
