<div id="gts-pjax-container">
  <% if admin?(current_user, project) %>
    <div class="dropdown pull-right">
      <a href="#" class="dropdown-toggle btn btn-mini gts-issues-settings-dropdown" data-toggle="dropdown">
        Settings
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li class="gts-pjax">
          <%= link_to 'Manage labels', project_issue_labels_path(project) %>
        </li>
        <li class="gts-pjax">
          <%= link_to 'Manage milestones', project_issue_milestones_path(project) %>
        </li>
      </ul>
    </div>
  <% end %>
  <h2 class="gts-legend">
    <%= project.title %>'s issues
  </h2>
  <div class="row-fluid">
    <div class="span2">
      <% if logged_in? %>
        <%= render 'issues/issues/filters/saved_queries', :queries => private_queries, :title => 'Your queries', :id => 'private' %>
        <hr/>
      <% end %>
      <%= render 'issues/issues/filters/saved_queries', :queries => public_queries, :title => 'Public queries', :id => 'public' %>
    </div>
    <div class="span10">
      <%= render "issues/issues/filters", :query => query %>
      <% if issues.any? %>
        <ul class="gts-project-issues">
          <% issues.each do |issue| %>
            <%= render 'issues/issues/issue', :issue => issue.renderer(self) %>
          <% end %>
        </ul>
      <% else %>
        <p class="well">
          No issues found
        </p>
      <% end %>
    </div>
  </div>
</div>
