<div id="gts-pjax-container">
  <%= pull_box issue.title do %>
    <div class="btn-group gts-pjax">
      <%= link_to 'Edit', edit_project_issue_path(issue.project, :issue_id => issue.issue_id), :class => 'btn' %>
    </div>
    <div class="gts-pullbox-content-meta gts-pullbox-content-meta-top">
      <div class="issue-assignees">
        Assigned users:
        <% issue.assignees.each do |user| %>
          <%= link_to user.login, main_app.user_path(user) %>
        <% end %>
      </div>
    </div>
    <div class="gts-markup">
      <%= simple_format(issue.description) %>
    </div>
    <div class="gts-pullbox-content-meta gts-pullbox-content-meta-bottom">
      <div class="issue-labels">
        Labels:
        <% issue.labels.each do |label| %>
          <%= content_tag(:span, label.name, :class => 'label', :style => "background-color: #{label.color}") %>
        <% end %>
      </div>
    </div>
    <div class="gts-pullbox-content-meta gts-pullbox-content-meta-bottom">
      <div class="issue-milestone">
        Milestone: <%= issue.milestone.present? ? issue.milestone.name : 'none' %>
      </div>
    </div>
  <% end %>
  <br/>
  <%= tabbable({ 'discussion' => '#discussion' }, :active => 'discussion') do %>
    <%= tab_pane 'discussion', :active => true do %>
      <%= render 'issues/comments/comments', :comments => issue.comments %>
      <br/>
      <% if logged_in? %>
        <%= render 'issues/comments/form', :comment => issue.comments.build, :issue => issue, :project => project %>
      <% end %>
    <% end %>
  <% end %>
</div>
